<label>Tax rate:</label>
<select [value]="taxRate || 0" (change)="taxRate = $event.target.value">
    <option *ngFor="let i of [0, 40, 60, 80, 100]" [value]="i">{{
        i
    }}</option> </select
><label>Tax rate:</label>
<select [(ngModel)]="categoryFilter">
    <option
        *ngFor="let i of ['', 'Watersports', 'Soccer', 'Chess']"
        [value]="i"
        >{{ i }}</option
    >
</select>

<table>
    <tr
        *paFor="
            let item of (getProducts() | filter: categoryFilter);
            let i = index
        "
    >
        <td>{{ i }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>
            {{ item.price | addTax: taxRate || 0 | currency: "GBP":"symbol" }}
        </td>
        <td>
            <button class="btn btn-danger" (click)="deleteProduct(item.id)">
                Remove
            </button>
        </td>
    </tr>
</table>
