<style>
    input.ng-dirty.ng-invalid {
        border: 2px solid red;
    }
    input.ng-dirty.ng-valid {
        border: 2px solid lightgreen;
    }
</style>

<div>{{ jsonProduct }}</div>

<form #form="ngForm" novalidate (ngSubmit)="submitForm(form)">
    <div *ngIf="formSubmitted && form.invalid">
        <ul>
            <li *ngFor="let error of getFormValidationMessage(form)">
                {{ error }}
            </li>
        </ul>
    </div>

    <input
        name="name"
        #name="ngModel"
        [(ngModel)]="newProduct.name"
        required
        minlength="5"
        pattern="^[A-Za-z]+$"
    />
    <button 
    [disabled]="formSubmitted && form.invalid"
    [class.btn-secondary]="formSubmitted && form.invalid"
    class="btn btn-primary" type="submit">Create</button>
</form>
