<!--
  <div [ngClass]="'p-a-1 ' + getClasses()">
    There are {{ model.getProducts().length }} products in the model.
  </div>

  <div>
    <label>Name:</label> <input [value]="model.getProduct(1)?.name || 'None'" />
  </div>
  <div><label>Name:</label> {{ model.getProduct(1)?.name || "None" }}</div>

  <table class="table-bordered table-striped">
    <tr>
      <th *ngFor="let id of [1, 2, 3, 4, 5]">{{ id }}</th>
    </tr>
    <tr>
      <td [attr.colspan]="model.getProducts().length">
        {{ model.getProduct(1)?.name || "None" }}
      </td>
    </tr>
  </table>

  <div *ngFor="let id of [1, 2, 3, 4, 5]" [ngClass]="getClassMap(id)">
    {{ model.getProduct(id)?.name || "None" }}
  </div>

  The <span [style.fontSize]="fontSizeWithUnits">first</span> The
  <span [style.fontSize.px]="fontSizeWithoutUnits">second</span>

  <div *ngFor="let id of [1, 2, 3, 4, 5]" [ngStyle]="getStyles(id)">
    {{ model.getProduct(id)?.name || "None" }}
  </div>
-->

<!--
  <div>{{ getProductByPosition(0).name }}</div>
  <div>{{ getProductByPosition(1).name }}</div>
-->

<!-- <div>There are {{ getProductCount() }} products</div> -->

<!--
  <div *ngIf="getProductCount() > 4" class="bg-info">
      There are more than 4 elements
  </div>

  <div *ngIf="getProductByPosition(0).name != 'Kayak'" class="bg-info">
      The first element is not Kayak
  </div>

  <div [ngSwitch]="getProductCount()">
      <span *ngSwitchCase="2">There are two products</span>
      <span *ngSwitchCase="5">There are five products</span>
      <span *ngSwitchDefault>There are some products</span>
  </div>

  <div [ngSwitch]="getProductByPosition(0).name">
      <span *ngSwitchCase="targetName">Kayak</span>
      <span *ngSwitchCase="'Lifejacket'">Lifejacket</span>
  </div>
-->
<!--
  <ng-template #titleTemplate let-text="title">
    <h4>{{ text }}</h4>
  </ng-template>

  <ng-template
    [ngTemplateOutlet]="titleTemplate"
    [ngTemplateOutletContext]="{ title: 'Header' }"
  ></ng-template>
-->

<!-- <ng-template [ngTemplateOutlet]="titleTemplate"></ng-template> -->

<!--
  <table class="table-bordered m-t-1 table-sm">
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
    <tr
      *ngFor="
        let item of getProducts();
        let i = index;
        let odd = odd;
        let first = first;
        let last = last;
        trackBy: getKey
      "
      [class.bg-primary]="odd"
      [class.bg-info]="!odd"
      [class.bg-warning]="first || last"
    >
      <td>{{ i }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td *ngIf="!last">{{ item.price }}</td>
    </tr>
  </table>
-->

<!-- <ng-template [ngTemplateOutlet]="titleTemplate"></ng-template> -->

<!--
  <div>
      Counter {{counter = counter + 1}}
  </div>
-->

<!-- <div>Next product is {{ nextProduct.name }}</div> -->

<!-- context of name resolution is always and only the code behind -->
<!--
  <div>
      The rounded price is {{ Math.floor(getProduct(1).price) }}
  </div>
-->

<!-- <div>The rounded price is {{ getProductPrice( 1 ) }}</div> -->

<!--
  <div>Selected product: {{ product.value || "(None)" }}</div>

  <table class="table-bordered m-t-1 table-sm">
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
    <tr
      *ngFor="let item of getProducts(); let i = index"
      [class.bg-info]="product.value == item.name"
      (mouseover)="product.value = item.name"
      (mouseleave)="product.value = null"
    >
      <td>{{ i }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </table>

  <div>
    <label>Product name</label>
-->
<!-- <input (input)="selectedProduct=$event.target.value"/> -->
<!--
  <input #product (input)="(false)" />
  </div>
-->

<div>Selected product: {{ selectedProduct || "(None)" }}</div>

<table class="table-bordered m-t-1 table-sm">
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr
    *ngFor="let item of getProducts(); let i = index"
    [class.bg-info]="getSelected(item)"
    (mouseover)="selectedProduct = item.name"
    (mouseleave)="selectedProduct = null"
  >
    <td>{{ i }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.category }}</td>
    <td>{{ item.price }}</td>
  </tr>
</table>

<!--
  <div>
    <label>Product name</label>
    <input #product (input)="(false)" />
  </div>
-->

<!-- 2 way bindings -->
<div>
  <label>Product name</label>
  <input
    (input)="selectedProduct = $event.target.value"
    [value]="selectedProduct || ''"
  />
</div>
<div>
  <label>Product name</label>
  <input
    (input)="selectedProduct = $event.target.value"
    [value]="selectedProduct || ''"
  />
</div>
